{% extends 'head.html' %}
{% load poll_extras %}
{% block title %}
    项目列表
{% endblock %}
{% block css %}
    <link crossorigin="anonymous" media="all"
          integrity="sha512-lLo2nlsdl+bHLu6PGvC2j3wfP45RnK4wKQLiPnCDcuXfU38AiD+JCdMywnF3WbJC1jaxe3lAI6AM4uJuMFBLEw=="
          rel="stylesheet" href="https://assets-cdn.github.com/assets/frameworks-08fc49d3bd2694c870ea23d0906f3610.css"/>
    <link crossorigin="anonymous" media="all"
          integrity="sha512-mv6mDRPrioZTM6DqvWmoRTqzLBRhHXVLHuh4NbZvbWLfjVpC7gqihEHCfY+IR3fRoQ3KD7FLLz422a7iH/HT/g=="
          rel="stylesheet" href="https://assets-cdn.github.com/assets/github-4d9ab9919c1f80062f9616df3655449f.css"/>


{% endblock %}
{% block js %}
    <script>


        $(function () {
            //无点击效果
            $('.menus li').eq(1).css('color', '#1c96ff');
            $('.menus li').each(function () {
                $('.menus li').mouseover(function () {
                    var index = $(this).index();
                    $('.menus .bg').css('left', (index - 1) * 150 + 'px');
                    $('.menus li').css('color', '#000');
                    $(this).css('color', '#1c96ff');
                });
                $('.menus li').mouseout(function () {
                    $('.menus li').css('color', '#000');
                    $('.menus .bg').css('left', '0');
                    $('.menus li').eq(1).css('color', '#1c96ff');
                });
            })
        });

    </script>

{% endblock %}
{% block content %}

    <div class="px-2" style="margin: auto;width: 700px">


        <div class="d-flex flex-column flex-md-row flex-justify-between border-bottom pb-3 position-relative">
            <h3>
                项目数量
            </h3>
        </div>


        <ul class="repo-list">


            {% for item in datas %}

                <li class="repo-list-item d-flex flex-column flex-md-row flex-justify-start py-4 public source">
                    <div class="col-12 col-md-8 pr-md-3">
                        <h3>
                            <a class="v-align-middle" href="/show?name={{ item.excel|spliexc }}">{{ item.pname }}</a>

                        </h3>

                        <p class="col-12 col-md-9 d-inline-block text-gray mb-2 pr-4">
                            {{ item.describle }}
                        </p>

                        <div class="d-flex flex-wrap">
                            <p class="f6 text-gray mr-3 mb-0 mt-2">
                                {{ item.user }}
                            </p>

                            <p class="f6 text-gray mr-3 mb-0 mt-2">
                                {{ item.uploadtime }}
                            </p>

                        </div>
                    </div>

                    <div class="flex-shrink-0 col-6 col-md-4 pt-2 pr-md-3 d-flex">

                        <div class="pl-2 pl-md-0 text-right flex-auto min-width-0">
                            <a class="muted-link">
                                <svg aria-label="star" class="octicon octicon-star" viewBox="0 0 14 16" version="1.1"
                                     width="14" height="16" role="img">
                                    <path fill-rule="evenodd"
                                          d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path>
                                </svg>
                                {{ item.downtimes }}
                            </a>
                        </div>
                    </div>
                </li>

            {% endfor %}


        </ul>
        <div class="paginate-container codesearch-pagination-container">
            <div class="d-flex d-md-inline-block pagination" data-pjax="true">
                {% if hasLast %}
                    <a href="?page={{ current_page|add:-1 }}">Previous</a>
                {% endif %}

                {% for i in page_num %}


                    {% if current_page == forloop.counter %}
                        <em class="current" data-total-pages="100">{{ forloop.counter }}</em>
                    {% else %}
                        <a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    {% endif %}

                {% endfor %}
                {% if hasNext %}
                    <a class="next_page" rel="next" href="?page={{ current_page|add:1 }}">Next</a>
                {% endif %}


            </div>
        </div>


    </div>

{% endblock %}